.layout-container {
  display: flex;
  width: 100%;
  height: 100vh; 
}

.sidebar-section {
  width: 20%;
}

.navbar-section {
  width: 80%;
}

.post{
  margin: 2rem 0 0 1rem;
}
.reactions{
  margin-top: 10px;
}
.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #dc3545; /* Red color for delete icon */
}
.form-container{
  margin: 2rem 4rem 0 2rem;
  width: 70%;
}
.message{
  margin-top: 10rem;
}